graph-view {
  padding: var(--spacing);
  height: 100%;
  display: flex;
  flex-direction: column;

  .control-bar {
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: aliceblue;
  }
  #time-slider {
    display: flex;
    align-items: center;
    gap: var(--spacing);
  }

  .network-container {
    flex: 1;
    height: 90%;
    width: 80vw;
    border: 1px solid red;
  }
}
